
<div class="container fixed">
    <div class="col-md-12">
        <p class="text-center header"><b>Best Food App</b></p>
    </div>
    <div class="col-md-12 mb-20">
        <b>FAVOURITES</b><br>
        <span class="text-secondary">Enjoy what you have been ordering!</span>
        <img class="pull-right" src="../assets/baseline-shopping_cart-24px.svg"/>
        <span class="pull-right">{{totalItems}}</span>
    </div>
    
    <div class="col-md-12 mb-20">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input class="form-control" [(ngModel)]="searchTerm" placeholder="Search" name="srch-term" id="srch-term" type="text">
    </div>
    </div>
    <div class="col-md-12"><b>SELECT CATEGORIES</b></div>
    <div class="col-md-12">
        <div class="scrollMenu mb-20">
            <a (click)="onSelectCategory(category, i)" href="#home" [ngClass]="{'selected': i === selected}" *ngFor="let category of categories; let i = index">
            <img class="categoryImg" [src]="category.image"/>
            {{category.name}}
            </a>
        </div>
    </div>
</div>

<div class="container-fluid body-content body">
    <div class="card mb-20" style="width: 50rem;" *ngFor="let recipe of selectedRecipes | searchfilter: searchTerm; let j = index">
            <img class="card-img-top" [src]="recipe.image" alt="Card image cap">
            <div class="card-body">
                <span class="card-title pull-left">{{recipe.name}}</span><br>
            </div>
            <div class="card-footer">
                <div class="pull-left">
                    &#8377;{{recipe.price}}
                </div>
                <button class="btn pull-right btn-success addBtn" (click)="onRemoveFromBag(recipe)">Remove From BAG</button>
                <button class="btn pull-right btn-success addBtn" (click)="onAddToBag(recipe)">ADD TO BAG</button>
            </div>
    </div>
</div>


